.grid {
    display: grid;
    grid-template-rows: .15fr repeat(auto-fit, minmax(10px, 1fr));
    grid-template-columns: .4fr .3fr 1fr;
    grid-row-gap: 5px;
    column-gap: 1em;
    padding: 10px;
  }
.extraContent{
  margin: auto;
  padding-left: inherit;
}
  .myheader {
    align-items: center;
    text-align: center;
    display: flex;
  }
  .subheader{
    align-items: center;
    text-align: center;
  }
  .logo {
    display: flex;
    justify-content: center;
    height: 250px;
    width: auto;
    padding-top: 10px;
  }
  .agenda{
    margin-left: auto;
    margin-right: auto;
  }
  .navbar{
    flex-wrap: unset !important;
  }
  .home-button{
    border-color: purple;
  }
  .navbar-text{
    font-size: 1.5rem;
    text-align: center;
    width: -webkit-fill-available;
  }
  .multiline{
    white-space: pre-line;
  }
  .indent-text{
    text-align: center;
  }
  .application-info, .zoom-info{
    padding-left: inherit;
    width: 80%;
    margin: auto;
  }

  .container-fluid{
    padding-bottom: 10px;
  }

.companyDescription{
  width: 80%;
  margin: auto;
}

iframe{
  display: block;
  margin: auto;
}
